$grape: #4A1F55;
$glacier: #b0d3e0;
$orange: #F7835C;
$violet: #C189D9;
$red: #64003C;
$bright_red: #F04951;

.Player{
    margin-top: 10%;
    padding: 20px;
    color: $grape;
    .nag{
        font-size: x-large;
        padding: 10px;
    }
}
#right{
    align-self: flex-end;
    justify-self: flex-end;
    text-align:right;
    // color: $grape;
}
#left{
    text-align: left;
    
}
.game{
    margin: 5px;
    margin-right: 20px;
    color: $grape;
}
.game:hover{
    color: $red;
}