$grape: #4A1F55;
$glacier: #b0d3e0;
$orange: #F7835C;
$violet: #C189D9;
$red: #64003C;
$bright_red: #F04951;

.Ranking{
    margin-top: 10%;
    padding: 30px;
    span{
        margin: 5px;
    }
    #right{
        align-self: flex-end;
        justify-self: flex-end;
        text-align:right;
    }
    #left{
        text-align: left;
    }
    #center{text-align: right;}
    .nag{
        font-size: xx-large;
    }
    .nag_2{
        font-size: x-large;
    }
    #grid2:hover{
        color: $red;
    }
}